@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Admin:@title</title>
        <link rel="stylesheet" media="screen" href="@controllers.admin.routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@controllers.admin.routes.Assets.at("images/favicon.png")">
        <script src="@controllers.admin.routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>
