name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        maven: [ '3.8.9', '3.9.12' ]
        java: [ '17', '21', '25' ]
        os: [ 'ubuntu-latest', 'windows-latest' ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: ${{ matrix.maven }}
      - name: print Maven and Java versions
        run: mvn --version
      - name: Build
        run: mvn -ntp -B clean verify
      - name: Generate site
        run: mvn -ntp -B clean site -P publicsite
